@media screen and (max-width: 414px) {
    .searchBox:hover > .searchInput {
        width: 150px;
        padding: 0 6px;
    }

    .navbar .brand-logo{
        width: 25px;
        margin-left: -35px;
    }

    .navbar h1{
        margin-left: -150px;
    }

    .navbar .navbar-collapse{
        margin-left: -60px;
        width: 100%;
    }

    .navbar .navbar-toggler{
        border: none;
    }

    .navbar-nav{
        margin-left: 0px;
        align-items: center;
    }
      
    .navbar .dropdown-menu{
        background-color: transparent;
        border: none;
        margin-left: -88px;
        text-align: center;
        margin-right: -80px;
    }


    .menu{
        display: flex;
        margin-left: 245px;
    }

    .product .prev{
        margin-left: 7px;
        margin-top: 100px;
        display: none;
    }

    .product .prev img{
        width: 15px;
        display: none;

    }

    .product .next{
        margin-left: 378px;
        margin-top: 100px;
        display: none;
    }

    .product .next img{
        width: 15px;
        display: none;
    }

    .product .slick-dots{
        margin-left: 200px;
        margin-top: -20px;
    }

    .text-box{
        margin-top: -190px;
        margin-left: 41px;
        width: 6%;
    }

    .text-box .title{
        font-size: 20px;
        margin-top: 20px;
    }

    .text-box p{
        font-size: 14px;
    }

    .text-box button{
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 5px;
    }

    .text-box span{
        font-size: 12px;
        margin: 20px
    }
 
 
    /* section gallery */

    .nav{
        display: inline-block;
        margin-left: 90px;
        text-align: center;
    }

    .nav .nav-link span{
        margin: 68px;
        font-size: 12px;
    }

    .tab-content .col{
        display: inline-grid;
        justify-content: center;
    }

    .tab-content .book-writer{
        font-size: 12px;
    }

    .tab-content .book-title{
        font-size: 20px;
    }

    .tab-content .book-price{
        font-size: 16px;
    }

    /* section connect */

    .connect .container-fluid{
        margin-top: 0px;
    }

    .connect .connect-book{
        margin-left: 201px;
        margin-top: -153px;
        opacity: 0.4;
        width: 200px;
    }

    .connect .title{
        font-size: 35px;
    }

    .connect .connect-icon{
        margin-top: 40px;
    }

    .connect .item-text{
        width: 58%;
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 16px;
        margin-left: 49px;
    }

    /* section featured-author */

    .featured-author .title-1{
        font-size: 35px;
    }

    .featured-author .title-2{
        font-size: 35px;
    }

    .featured-author .author{
        margin-left: 125px;
        margin-bottom: 40px;
    }

    .featured-author .author-name{
        font-size: 20px;
    }

    .featured-author .author-about{
        margin-bottom: 50px;
        font-size: 16px;
    }

    /* section newsletter */

    .newsletter{
        padding-right: 50px;
    }

    .newsletter .plane{
        margin-left: 190px;
        margin-top: -56px;
        width: 150px;
    }

    .newsletter .title{
        font-size: 35px;
    }

    .newsletter .sub-title{
        font-size: 18px;
        margin-top: 25px;
    }

    .newsletter .psg{
        font-size: 12px;
    }

    .form-inline .form-control-name{
        width: 300px;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .form-inline .form-control-email{
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 0px;
        margin-right: 4px;
    }

    .form-inline .btn{
        margin-top: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .form-inline span{
        font-size: 12px;
    }

    /* section event */

    .event .title{
        font-size: 35px;
        margin-top: 80px;
        text-align: center;
    }

    .event .view{
        margin-left: 340px;
        margin-top: 15px;
    }

    .event .event-img{
        width: 350px;
        margin-top: 54px;
        margin-left: 450px;
    }

    .event .event-title{
        position: relative;
        font-size: 20px;
        margin-top: -177px;
        margin-left: 38px;
        width: 75%;
    }

    .event .event-info{
        margin-top: 10px;
        margin-bottom: 0px;
        width: 10%;
        margin-left: 38px;
        font-size: 12px;
        z-index: 1;
        position: absolute;
    }

    .event .read{
        margin-left: 38px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 65px;
        margin-top: 110px;
    }

    .event span{
        font-size: 12px;
        margin: 35px;
    }

    .event .slider-button{
        margin-top: -42px;
        margin-left: 38px;
        margin-bottom: 0px;
    }

    .event .event-prev{
        margin-right: 10px;
    }

    /* section blogger */

    .blogger .container{
        margin-top: 60px;
        padding-top: 50px;
        padding-bottom: 50px;
        display: block;
    }

    .blogger .blogger-kiran{
        width: 220px;
        margin-left: 95px;
    }

    .blogger .blogger-logo{
        width: 340px;
        margin-left: 30px;
    }

    .blogger .blogger-title{
        font-size: 35px;
        margin-top: 45px;
        margin-bottom: 50px;
    }

    .blogger .blogger-name{
        font-size: 20px;
        text-align: center;
    }

    .blogger .blogger-info{
        font-size: 13px;
        text-align: center;
        width: 100%;
    }

    .blogger .blogger-read{
        margin-top: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 105px;
    }

    .blogger span{
        font-size: 12px;
        margin: 35px;
    }
    
    .blogger .blogger-cup{
        margin-left: -45px;
        margin-top: 60px;
    }

    /* section subscription */

    .subscription .subsc-1{
        width: 130px;
    }

    .subscription .subsc-2{
        width: 80px;
        margin-left: -19%;
        margin-top: 30%;
    }

    .subscription .subsc-text{
        margin-top: 140px;
        margin-left: -20px;
        width: 70%;
    }

    .subscription .subsc-title{
        font-size: 35px;
    }

    .subscription .subsc-psg{
        font-size: 16px;
    }

    .subscription .cards{
        display: block;
        margin-top: 126px;
    }

    .subscription .card{
        margin-bottom: 90px;
        width: 68%;
        margin-left: 70px;
    }

    .subscription .price-tag{
        font-size: 35px;
        margin-left: 40px;
    }

    .subscription .price-tag span{
        font-size: 16px;
    }

    .subscription .pack-name{
        font-size: 20px;
        margin-left: 15px;
    }

    .subscription .duration{
        font-size: 12px;
    }

    /* section footer */

    .footer{
        width: 100%;
    }

    .footer .footer-menu{
        display: block;
    }

    .footer .about-us{
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
        margin-left: 0px;

    }

    .footer .follow-us{
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
        margin-left: 0px;

    }

    .footer .social{
        margin-bottom: 240px;
        width: 100%;
        text-align: center;
        margin-left: 0px;
    }

    .footer .row{
        display: flex;
        text-align: center;
        margin-left: 6px;
        width: 100%;
    }

    .footer #topBtn{
        margin-left: 385px;
    }

    .footer .outline{
        margin-top: -228px;
    }

}
    /* Responsive (max-width = 414px) end */


   /* Responsive (max-width = 360px) start*/

@media screen and (max-width: 360px) {

    .navbar h1{
        margin-left: -105px;
    }

    .product .slick-dots{
        margin-left: 155px;
    }


    .menu {
        margin-left: 186px;
    }

    .nav{
        margin-left: 60px;
    }

    .connect .connect-book{
        margin-left: 143px;
    }

    .featured-author .author{
        margin-left: 100px;
    }

    .newsletter .plane{
        margin-left: 138px;
    }

    .event .title{
        margin-left: 0px;
    }

    .event .view{
        margin-left: 310px;
    }

    .event .event-img{
        margin-left: 366px;
    }

    .blogger .blogger-logo{
        margin-left: 0px;
    }

    .blogger .blogger-kiran{
        margin-left: 60px;
    }

    .blogger .blogger-profile{
        margin-left: 0%;
    }

    .blogger .blogger-cup{
        margin-left: -62px;
    }

    .subscription .subsc-text{
        margin-top: 165px;
        margin-left: -90px;
        width: 75%;
    }

    .subscription .cards{
        margin-top: 170px;
    }

    .subscription .price-tag{
        font-size: 31px;
        margin-left: 25px;
    }


    .subscription .pack-name{
        font-size: 16px;
        margin-left: 0px;
        text-align: center;
    }

    .footer .row{
        display: inline;
    }

    .footer #topBtn{
        margin-left: 300px;
    }
}
   /* Responsive (max-width = 360px) end*/

